export(corProbCurKRs)
export(getDupNiCuKR)
export(getDupPdCuAgKR)
export(getDupPdCuKR)
export(plotNiCuDupKRs)
export(plotPdCuAgDupKRs)
export(plotPdCuDupKRs)
export(runStrataGEMThreeLayersOnPET)
export(runStrataGEMTwoLayersOnPET)
export(writeNiCuDuplIni)
export(writePdCuAgDuplIni)
export(writePdCuDuplIni)
