export(corProbCurKRs)
export(getDupNiCuKR)
export(getDupPdCuKR)
export(getNiCuTestData)
export(getPdCuTestData)
export(plotNiCuDupKRs)
export(plotPdCuDupKRs)
export(runStrataGEM)
export(writeNiCuDuplIni)
export(writePdCuDuplIni)
